//animation for the header
@keyframes headerOne {
    0% {
        transform: translateY(-8rem);
        opacity: 0;
    }
    80% {
        transform: translateY(1rem);
        opacity: 0.8;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
